:root {
	--bg-color: #f5e8e4;

	--main-color: #f5c7a9;
	--second-color: #d1512d;
	--third-color: #411530;

	--light-color: #fff;
	--dark-color: #333;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	/* untuk font heading */
	/* font-family: "DM Serif Display", serif; */
	font-family: "Roboto", sans-serif;

	background-color: var(--bg-color);
}

/* header */

.section__header {
	background-color: var(--second-color);
}

.header {
	display: flex;
	justify-content: space-between;
}

.header img {
	width: 14rem;
}

.navbar-nav a {
	font-size: 1.6rem;
	color: var(--light-color);
}

.nav-link.btn {
	margin-left: 5rem;
	background-color: var(--third-color);
	border-radius: 20px;
	width: 7rem;
	font-weight: 700;
}

.nav-link.btn:hover {
	background-color: var(--light-color);
	color: var(--third-color);
}
